<% include ../partials/boilerplate %>

<div class='container'>
  <form class='formList' method='POST' action='/auth/register'>
    <input class='box' name='username' type='text' placeholder='Trainer' required />
    <input class='box' name='email' type='email' placeholder='Email' required />
    <input class='box' name='password' type='password' placeholder='Secret Code' required />
    <input class='box' name='nickname' type='text' placeholder='Pick a Nickname' required />
    <input class='buttons logregBtn' type='submit' value='Register!' />
  </form>
  <form action='/auth/login'>
    <input class='buttons logregBtn' type='submit' value='Back' />
  </form>
</div>

<% include ../partials/end %>