<% include ../partials/boilerplate %>

<div class='container' style='background:black'>
    <h1 class='message' style='font-size:8vh;'>Hello, <%= user.nickname %>!</h1>
    <p style='font-size:3vh;'>Your pokémons are waiting for you...</p>
    <div class='userBtnList'>
        <form action='/pokemons/pokemon-index'>
            <input class='buttons userBtn' type="submit" value="My Pokémons" />
        </form>
        <form action='/pokemons/add'>
            <input class='buttons userBtn' type="submit" value="Search Wild Pokémons" />
        </form>
        <form action='/user/fight'>
            <input class='buttons userBtn' type="submit" value="Fight!" />
        </form>
        <form action='/user/edit'>
            <input class='buttons userBtn' type="submit" value="Edit Info" />
        </form>
        <form action='/auth/logout'>
            <input class='buttons userBtn logoutBtn' type="submit" value="Log Out" />
        </form>
    </div>
    <div>
        <!-- <h3 class='food'><%= user.inventory %></h3> -->
    </div>
</div>
<% include ../partials/end %>