 <nav style='top:0;'>
    <a class='navLink' href='/user'>Home</a>
    <a class='navLink' href='/pokemons/pokemon-index'>Pokémons</a>
    <a class='navLink' href='/pokemons/add'>Search</a>
    <a class='navLink' href='/user/fight'>Fight</a>
    <a class='navLink' href='/auth/logout'>Logout</a>
</nav> 