<% include ../partials/boilerplate %>

<div class='container'>
    <% include ../partials/nav %>

    <% for(let user of data){ %>
    <ul>
        <a href='/user/combat/<%=user.id%>'>
            <b><%=user.nickname%></b>
        </a>
    </ul>
<% } %>
    
</div>
<% include ../partials/end %>