<% include ../partials/boilerplate %>

<div class='container'>
    <% include ../partials/nav %>

    <button>Capture me a Pokemon!</button>

    <script src='/src/jquery.js'></script>
    <script src='/src/add.js'></script>
</div>

<% include ../partials/end %>