<% include ../partials/boilerplate %>

<div class='container' style="background:black;">
    <% include ../partials/nav %>
    <div class='containerPartial'>
        <div class='translateY'>
        </div>
        <div class='catchDiv'>
            <button class='buttons' id='catchBtn'>Capture a Pokemon!</button>
        </div>
    
        <script src='/src/jquery.js'></script>
        <script src='/src/add.js'></script>
    </div>
</div>

<% include ../partials/end %>