<% include ../partials/boilerplate %>

<div class='container'>
    <% include ../partials/nav %>

    <% for(let user of data){ %>
    <div class='users'>
        <a href='/user/fight/<%=user.id%>'>
            <b><%=user.nickname%></b>
        </a>
    </div>
<% } %>
    
</div>
<% include ../partials/end %>