<% include ./partials/boilerplate %>

<div class='container' style="background:black;">
    <h2 class='message' style='font-size:5vh;'>Whoops...</h2>
    <p>Something went wrong.</p>
    <div  style="height:50vh; width:60vh; background-image:url('/images/error.gif'); background-position:center; background-size:contain; background-repeat:no-repeat;">
    </div>
    <form action='/'>
        <input class='buttons againOrReturn' type='submit' value='Go Back'>
    </form>
</div>

<% include ./partials/end %>