<% include ./partials/boilerplate %>

<div class='container'>
  <h1><%= message %></h1>
  <div class='buttons'>
  <form action='/auth/login'>
    <input type="submit" value="Go to the world of Pokémons!" />
  </form>
  </div>
</div>

<% include ./partials/end %>