<% include ./partials/boilerplate %>

<div class='container'>
  <h1 class='message'><%= message %></h1>
  <form action='/auth/login'>
    <input class='buttons' id='indexBtn' type="submit" value="Go to the world of Pokémons!" />
  </form>
</div>

<% include ./partials/end %>