body{
    background-image:url('../images/background.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}
.backcolor{
    background:rgba(0,0,0,0.5);
    min-width:100vw;
    min-height:98vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    width:80vw;
    margin:10vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.containerPartial{
    min-height:54vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.message{
    font-family: 'Gloria Hallelujah', cursive;
    margin:2vh;
}
.formList{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.box{
    border:none;
    margin:2vh;
    height:6vh;
    width:30vw;
    font-size:4vh;
    border:4px solid grey;
    background:#FDF06F;
    color:#0E38B1;
    transition:0.4s;
}
::-webkit-input-placeholder{
    color:white;
}
.box:hover{
    background:#0E38B1;
    color:#FDF06F;
    transition:0.4s;
}
nav{
    display:flex;
    background:#FDF06F;
    width:100%;
    justify-content:space-around;
    margin:0 0 5vh 0; 
    padding:1vh 0;
    height:6vh;
    transition:0.8s;
}
.navLink{
    display:inline-block;
    font-size:4vh;
    padding:2vh 2vw;
    margin:-1vh 0;
}
.navLink:hover{
    background:#FF8B8B;
    color:#FDF06F;
    transition:0.8s;
}
a{
    text-decoration:none;
    color:#FF8B8B;
    font-family: 'Righteous', cursive;
    transition:0.8s;
}
.userBtnList{
    min-width:70vw;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.buttons{
    border:none;
    margin:2vh;
    color:#FF8B8B;
    background:#FDF06F;
    border-radius:20px;
    font-family: 'Righteous', cursive;
    border:4px solid grey;
    white-space:normal;
    transition:0.8s;
}
.buttons:hover{
    cursor:pointer;
    background:#FF8B8B;
    color:#FDF06F;
    transition:0.8s;
}
#indexBtn{
    min-height:20vh;
    min-width:60vw;
    font-size:6vh;
    font-weight:600;
    margin:10vh; 
}
.logregBtn{
    min-height:9vh;
    min-width:30vw;
    font-size:6vh;
}
.userBtn{
    height:15vh;
    width:30vw;
    font-size:5vh;
}
.headshotList{
    margin:10vh 10vw;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
} 
.headshotDiv{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:15vh;
    min-height:105px;
    width:12vh;
    min-width:80px;
    margin:1vh;
    border:4px solid #C5BEAA;
    border-radius:10px;
    background:#FDF06F;
    transition:0.6s;
}
.headshotDiv:hover{
    background:#FF8B8B;
    transition:0.6s;
}
.headshotDiv:hover a{
    color:#FDF06F;
    transition:0.6s;
}
.headshot{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:10vh;
    min-height:60px;
    width:10vh;
    min-width:60px;
    border:4px solid #C5BEAA;
    border-radius:10px;
}
.card{
    margin:5vh 0;
    height:50vh;
    width:45vh;
    background:#0E38B1;
    display:flex;
    align-items:center;
    flex-direction:column;
    border:4px solid #C5BEAA;
    border-radius:10px;
}
.largePic{
    height:35vh;
    width:30vh;
    background-repeat:no-repeat;
    background-position:center;
    background-size:fill;
    background-color:white;
    margin:2vh 0 1vh 0;
    border:4px solid #C5BEAA;
    border-radius:10px;
}
.info{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    justify-content:space-between;
}
.attAndDef{
    height:10vh;
    width:10vh;
    /* background:black; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family: 'Righteous', cursive;
    font-size:20px;
    /* border:4px solid #C5BEAA;
    border-radius:10px; */
}
.nameAndType{
    font-family: 'Righteous', cursive;
    color:#FF8B8B;
    width:25vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.name{
    width:25vh;
    font-size:4vh;
    background:#FDF06F;
    height:6.5vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0.1vh;
    border:2px solid #C5BEAA;
}
.type{
    width:25vh;
    font-size:2vh;
    background:#FDF06F;
    height:3vh;
    display:flex;
    align-items:center;
    justify-content:center;
    border:2px solid #C5BEAA;
}
.attAndDefPic{
    height:6vh;
    width:6vh;
    background-position:center;
    background-size:80%;
    background-repeat:no-repeat;
}
#freeBtn{
    height:10vh;
    width:30vw;
    margin:0 0 5vh 0;
    font-size:3vh;
}
#catchBtn{
    height:16vh;
    width:40vw;
    font-size:6vh;
}
.catchDiv{
    margin:17vh 0;
    min-height:20vh;
    min-width:20vh;
}
.pokeballRotate{
    margin:15vh 0;
    background-image:url('../images/pokeball.png');
    background-position:center;
    background-size:cover;
    animation:rotate 1.5s infinite linear;
}
.pokeballTranslateY{
    animation:translateY 0.5s infinite alternate-reverse ease-out;
}
@keyframes rotate{
    0% {
        transform:rotate(0);
    }
    50% {
        transform:rotate(180deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@keyframes translateY{
    0%{
        transform:translateY(0vh);
    }
    100%{
        transform:translateY(-5vh);
    }
}
#searchingText{
    font-size:4vh;
    margin:-15vh 0 15vh 0;
}
.usersList{
    margin:5vh;
}
.users{
    border:4px solid grey;
    margin:2vh;
    width:30vw;
    height:8vh;
    font-size:3vh;
}
#fightText{
    font-size:4vh;
    margin:5vh 0;
}
#startBtn{
    height:10vh;
    width:30vw;
    margin:0 0 5vh 0;
    font-size:3vh;
}
.vs{
    height:10vh;
    width:10vh;
    background-image:url('../images/vs.png');
    background-position:center;
    background-size:30%;
    background-repeat:no-repeat;
    animation:scalexy 0.5s ease-out forwards;
}
@keyframes scalexy{
  0%{
    transform: scale(0,0);
  }
  100%{
    transform: scale(7,7);
  }
}
#fightBtn{
    margin:5vh;
    height:10vh;
    width:30vw;
    font-size:3vh;
}
.banner{
    width:100vw; 
    position:absolute; 
    text-align:center;
    font-size:10vh; 
    font-weight:600;
}
@keyframes dimensional{
  0%{
    transform: perspective(200px) rotate3d(0,0,0,0deg);
  }
  50%{
    transform: perspective(200px) rotate3d(1,1,-1,230deg);
  }
  100%{
    transform: perspective(200px) rotate3d(1,2,1,110deg);
  }
}
.againOrReturn{
    height:10vh;
    width:30vw;
    font-size:3vh;
}