body{
    background-image:url('../images/background.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}
.backcolor{
    background:rgba(0,0,0,0.5);
    width:100vw;
    height:98vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    width:80vw;
    /* height:98vh; */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.message{
    font-family: 'Gloria Hallelujah', cursive;
    font-size:8vh;
    margin:2vh;
}
.formList{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.userBtnList{
    min-width:70vw;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
nav{
    display:flex;
    background:#FDF06F;
    width:100%;
    justify-content:space-around;
    transition:0.8s;
    margin:0 0 5vh 0;
}
.navLink{
    display:inline-block;
    font-size:4vh;
    padding:0 2vw;
}
.navLink:hover{
    background:#FF8B8B;
    color:#FDF06F;
    transition:0.8s;
}
a{
    text-decoration:none;
    color:#FF8B8B;
    font-family: 'Righteous', cursive;
    transition:0.8s;
}
.buttons{
    border:none;
    margin:2vh;
    color:#FF8B8B;
    background:#FDF06F;
    border-radius:20px;
    font-family: 'Righteous', cursive;
    border:4px solid grey;
    white-space:normal;
}
.buttons:hover{
    cursor:pointer;
    background:#FF8B8B;
    color:#FDF06F;
}
.box{
    border:none;
    margin:2vh;
    height:7vh;
    width:30vw;
    font-size:4vh;
    border:4px solid black;
    background:#FDF06F;
    color:#0E38B1;
}
::-webkit-input-placeholder{
    color:white;
}
.box:hover{
    background:#0E38B1;
    color:#FDF06F;
}
#indexBtn{
    min-height:20vh;
    min-width:60vw;
    /* border:5px solid black; */
    font-size:6vh;
    font-weight:600;
    margin:10vh; 
}
.logregBtn{
    min-height:9vh;
    min-width:30vw;
    font-size:6vh;
}
.userBtn{
    height:15vh;
    width:30vw;
    font-size:5vh;
}